GridPane > * {
	-fx-border-color: silver;
	-fx-border-width: .3;
	-fx-pref-height: 24;
    -fx-background-color: white;
    -fx-min-width: 64;
}

GridPane Label {
	-fx-padding: 4;
}

GridPane .header {
	-fx-background-color: lightgrey;
}